<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
            {{ table|safe }}
        </div>

        <!-- Display Plotly chart for movie ratings -->
        <div class="card-panel">
            <h3>Movie Ratings Distribution</h3>
            <div id="plotly-div"></div>
        </div>
    </div>

    <!-- Include Materialize JS from CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>

